.bgimage{
    background-image: url(https://www.arabnews.com/sites/default/files/styles/n_670_395/public/main-image/2025/03/18/4583994-1536937309.png?itok=F8FjSoJv);
    background-size: cover;
}
.logo{
    width: 60px;
    margin-top: 10px;
}